<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<!-- <link rel="import" href="../prims-element/prims-element.html"> -->
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{cargando}}">
      <paper-spinner active={{cargando}} class="thick"></paper-spinner>
      <h2>cargando</h2>
    </template>

    <!-- <ul>
      <template is="dom-repeat" items="{{handleResponse}}" as="usuario">
        <li>{{usuario.name}}</li>
      </template>
    </ul> -->

    
    <iron-ajax
    auto
    url="https://jsonplaceholder.typicode.com/users/"
    handle-as="json"
    last-response="{{handleResponse}}"
    >
    <!-- loading="{{cargando}}" -->
    </iron-ajax>

  </template>

  <script>
    /**
     * `data-manager`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DataManager extends Polymer.Element {
      static get is() { return 'data-manager'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value: () => {
              return {}
            },
            observer: '_success'
          },
          cargando: {
            type: Boolean,
            value: true
          }
        };
      }
      _success (e) {
        this.cargando = false;
      }
    }

    window.customElements.define(DataManager.is, DataManager);
  </script>
</dom-module>
